.registration-container
  = render 'shared/regi_header'
  .registration-container__main
    .registration-container__text
      %h2 新規会員登録
      .registration-container__form
        .registration-container__form--mail
          = link_to "メールアドレスで登録", "https://www.mercari.com/jp/signup/registration/", class: "btn"
  .registration-container__footer
    .registration-container__nav
    = render 'shared/regi_footer'