%header
  .headernav
    .main__header
      .main__header__content
        .main__logo__show
          = link_to image_tag( "logo_red.svg" ), '#'
        %form.form__action__search__show{action: "#"}
          %input.show{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: "", class: "form__text"}
            %input{class: "sbtn", type: "submit", value: "検索"}
    .main__category__show
      %ul.search-menu__show
        %li.search-menu__show__list.category
          %h3.show__category
            = link_to '#', class: 'search-menu__show__list__text' do
              %i.fas.fa-list-ul
              カテゴリーから探す
        %li.search-menu__show__list.brand
          %h3.show__brand
            = link_to '#', class: 'search-menu__show__list__text' do
              %i.fas.fa-tag
              ブランドから探す
      .main__menu__show
        = link_to '#', class: 'main__menu__show__btn' do
          マイページ