.buydetails-content__item-name{
  font-size: 25px;
}

.buydetails-contet__price{
  font-size: 25px;
}

.name__color{
  font-size: 25px;
}

.button1 {
  margin: auto;
  margin-bottom: 10px;
  display: block;
  width: 50%;
  line-height: 48px;
  font-size: 14px;
  background-color: lightgrey;
  cursor: pointer;
  color:black;
  text-align: center;
}